@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap");

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Kanit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

button {
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
